.text-center {
    text-align: center;
}

.heading-small {
    font-size:1.25rem;
    font-weight: bold;
}

.heading-medium {
    font-size:1.5rem;
    margin-bottom: 1.25rem;
}

.heading-big {
    font-size:2rem;
}

.bg-dark {
    background-color: #123747;
}
.bg-light {
    background-color: #246c8b;
}

section, footer { 
    padding: 2rem 1rem 1rem 1rem;
}

/* Buttons */
.btn {
    margin-top: 1.5rem;
    padding: 0.5rem 2rem;
    border-radius: 7px;
}

.btn-primary:hover {
    background-color: white;
    border: 1px solid #E94154;
    color: #E94154;
}

.btn-primary {
    display: inline-block;
    background-color: #E94154;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}