* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    color:rgb(41, 41, 41);
}

a {
    text-decoration: none;
    color: white;
}

/* Header */
header {
    color: white;
    padding: 1rem;
}

header h1 {
    color: white;
    border: 2px solid white;
    padding: .5rem;
    border-radius: 5px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar ul {
    display: flex;    
}

#navbar ul li {
list-style: none;
}

#navbar ul li a {
    padding: 0.5rem 1rem;
    border-radius: 5px;  
}

#navbar ul li a:hover {
    background-color: #246c8b;
}

/* About */
#about img {
    border-radius: 100%;
    padding: 1.5rem;
    max-width: 350px;
}

#about .info {
    margin-bottom: 1rem; 
}

#about .info p {
    opacity: 0.8;
    font-style: italic;
}

/* Academics */
#academics p, 
#academics h3,
#academics i {
    color: white;
}

#academics i {
    font-size: 2rem;
    color:  #E94154;
    opacity: 0.8;
}

#academics .items {
    display: flex;
    justify-content: center;
}

#academics .items .item {
    padding: 0 1rem;
    margin-bottom: 1rem;
}

#academics .items .item p {
font-size: 0.75rem;
}

#academics .items .item .title {
    font-weight: bold;
    font-size: 1rem;
    margin: 0.5rem 0;
}

/* Portfolio */
#portfolio .items .item{
    display: flex;
    margin-bottom: 1.5rem; 
}

#portfolio .items .item .image {
    position: relative;
}

#portfolio .items .item .image img {
    border-radius: 5px;
    max-height: 250px;
}

#portfolio .items .item .image span {
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #E94154;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

#portfolio .items .item .content {
    margin-left: 1rem;
}

#portfolio .items .item .content .heading {
    padding-bottom: 1rem;
}

#portfolio .items .item .content .description {
    padding-bottom: 1rem;
}

#portfolio .items .item .content .detail {
    font-style: italic;
    opacity: 0.6;
}

/* Contact */

footer {
    color: white;
}

footer .form-area ul {
list-style: none;
display: flex;
justify-content: center;
}

footer .form-area ul li {
    font-size: 2rem;
    padding: 1rem 2rem;
}

footer .form-area ul li:hover {
    opacity: 0.5;
}

footer .form-area .contact-form {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

footer .form-area .contact-form button {
    width: 100%;
    border: none;
    font-size: 1rem;
    background-color: rgb(231, 231, 231);
    color: #133848;
    font-weight: bold;
}

footer .form-area .contact-form button:hover {
    color: white;
    border: 1px solid white;
    background-color: #133848;
    cursor: pointer;
}

footer .form-area .contact-form .form-group {
    margin-bottom: 1rem;
}

footer .form-area .contact-form .form-group label {
    display: block;
    padding-bottom: 0.25rem; 
}

footer .form-area .contact-form .form-group textarea,
footer .form-area .contact-form .form-group input {
    width: 100%;
    border-radius: 5px;
    border: 0px solid;
    padding: .5rem;
    font-size: 1rem;

}

footer .form-area .contact-form .form-group textarea {
    resize: none;
}
