#navbar {
    display:block;
    text-align: center;
}

h1 {
    margin-bottom: 0.5rem; 
}

ul {
justify-content: space-between;
}


/* About */
.about img {
    max-width: 250px;
}

/* Academics */
.academics .items {
    display: block;
}