
    
/* Header */
#navbar {
    display:block;
    text-align: center;
}

#navbar h1 {
    margin-bottom: 0.5rem;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#navbar ul {
    justify-content: space-between;
}

#navbar ul li a {
    padding: 0.5rem 0.3rem; 
}

/* About */
#about img {
    max-width: 250px;
}

/* Academics */
#academics .items {
    display: block;
}

